* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #eeeded !important;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
}
a {
    text-decoration: none !important;
}
p {
    margin: 0 !important;
}

.login a i {
    padding: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 20px;
}
.login a:hover i {
    color: aqua;
    border: 2px solid aqua;
    box-shadow: rgb(250, 249, 249) 0px 22px 70px 4px;
}
.button {
    width: 200px;
    height: 50px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.banner-intro h1,
.yard h1 {
    color: black !important;
}
.button {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

h1 {
    color: #317c69 !important;
    font-weight: 600;
    position: relative;
}

.header {
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    background-color: rgba(39, 38, 38, 0.9058823529);
}
.header .header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eeeded;
    border-bottom: 3px solid #eeeded;
}
.header .header-top .logo {
    width: 450px;
}
.header .header-top .logo img {
    width: 150px;
}
.header .header-top .header-top-right {
    display: flex;
    align-items: center;
    width: 500px;
}
.header .header-top .header-top-right .login {
    display: flex;
    align-items: center;
}
.header .header-top .header-top-right .login a {
    padding: 10px 15px;
    margin: 0 5px;
    color: white;
}
.header .header-top .header-top-right .login .user {
    width: 90px;
    border-radius: 50%;
}
.header .header-top .header-top-right .login .user img {
    border-radius: 50%;
}
.header .header-top .header-top-right .login p.user-name {
    font-weight: 700;
}
.header .header-top .header-top-right .login .logout:hover,
.header .header-top .header-top-right .login .register:hover {
    background-color: #1f1f6a;
    transition: 0.5s;
    border-radius: 10px;
}
.header .header-top .header-top-right .list-location > p {
    animation: location 1s infinite alternate;
}
.header .header-top .header-top-right .list-location:hover #location {
    display: block;
    z-index: 2;
}
.header .header-top .header-top-right .location-item {
    position: relative;
    transition: 10s;
}
.header .header-top .header-top-right .location-item #location {
    position: absolute;
    background-color: #eeeded;
    width: 200px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    display: none;
    color: #000000;
    right: 0;
    transition: 10s;
}
.header .header-top .header-top-right .location-item ul {
    padding: 0;
}
.header .header-top .header-top-right .location-item li {
    border-bottom: 1px solid grey;
    padding: 10px 20px;
    width: 100% !important;
}
.header .header-top .header-top-right .location-item li:hover {
    background-color: #1f1f6a;
}
.header .header-top .header-top-right .location-item li:hover a {
    color: white;
    width: 100%;
}
@keyframes location {
    0% {
        color: #eeeded;
    }
    100% {
        color: red;
    }
}
.header .header-top .search-name {
    margin-right: 30px;
    position: relative;
}
.header .header-top .search-name input {
    width: 350px;
    height: 40px;
    border-radius: 20px;
    padding-left: 20px;
    font-size: 20px;
}
.header .header-top .search-name i {
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    color: #000000;
}
.header .header-bot {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
    border-top: 1px solid black;
    color: #eeeded;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header .header-bot a,
.header .header-bot p {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.header .header-bot a::before,
.header .header-bot p::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: #1f1f6a;
}
.header .header-bot a:hover,
.header .header-bot p:hover {
    color: #6bc4e7;
}
.header .header-bot a:hover::before,
.header .header-bot p:hover::before {
    width: 100%;
    transition: 0.5s;
}
.header .header-bot a.active {
    color: #6bc4e7;
}
.header .header-bot a.active::before {
    width: 100%;
}

.filter {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    background-color: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.filter #sorted {
    width: 200px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #000000;
}
.filter a,
.filter p {
    padding: 0 20px;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    cursor: pointer;
}
.filter #sorted option {
    padding: 5px;
}
.filter .locGio {
    position: relative;
}
.filter .locGio .filter-time {
    display: none;
    position: absolute;
    background-color: rgba(31, 31, 106, 0.631372549);
    padding: 10px 0;
    list-style: none;
    margin: 0;
    border: 1px solid #ccc;
}
.filter .locGio .filter-time li {
    margin: 5px 0;
    padding: 5px 0;
    width: 200px;
}
.filter .locGio .filter-time li:hover {
    background-color: #598d93;
}
.filter .locGio .filter-time a {
    color: #fff;
    text-decoration: none;
    width: 100%;
}
.filter .locGio:hover .filter-time {
    display: block;
}

.banner {
    background-image: url("../asserts/img/4a331c1398d3d7a67ecba739d2e8bb43.jpg");
    height: 700px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}
.banner::before {
    position: absolute;
    content: "";
    background-color: rgba(0, 0, 0, 0.37);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.banner .banner-intro {
    width: 40%;
    position: absolute;
    top: 60%;
    left: 90px;
    transform: translateY(-50%);
}
.banner .banner-intro h1 {
    color: rgb(243, 128, 86) !important;
    font-weight: 700;
    font-size: 40px;
}
.banner .banner-intro p {
    margin: 20px 0;
    line-height: 30px;
    color: white;
    font-weight: 600;
    font-size: 12px;
}
.banner .banner-intro span {
    color: #3dd9e9;
    font-weight: 700;
    font-size: 20px;
}
.banner .banner-intro .btn-link {
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
    color: white;
    text-decoration: none;
    font-weight: 800;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.banner .banner-intro .btn-link:hover {
    background-position: 305px;
    transition: 1s;
}

div.stars {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

input.star {
    display: none;
}

label.star {
    float: right;
    padding: 10px;
    font-size: 12px;
    color: #444;
    transition: all 0.2s;
}

input.star:checked ~ label.star:before {
    content: "\f005";
    color: #fd4;
    transition: all 0.25s;
}

input.star-5:checked ~ label.star:before {
    color: #fe7;
    text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
    color: #f62;
}

label.star:hover {
    transform: rotate(-15deg) scale(1.3);
}

label.star:before {
    content: "\f006";
    font-family: FontAwesome;
}

.yard {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    border-bottom: 3px solid black;
    padding: 40px 0;
}
.yard h1::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 10%;
    background-color: black;
    width: 15%;
    height: 3px;
}
.yard h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10%;
    background-color: black;
    width: 15%;
    height: 3px;
}
.yard .card-yard {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 20px;
    overflow: hidden;
}
.yard .card-yard:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.yard .card-yard img {
    border-radius: 20px;
    width: 100%;
    overflow: hidden;
}
.yard .card-yard:hover .card-yard-img img {
    transform: scale(1.2);
    transition: 0.5s;
}
.yard .card-yard-img {
    padding: 10px;
}
.yard .card-yard-content {
    padding: 10px;
    margin-bottom: 10px;
}
.yard .card-yard-content p {
    font-size: 15px;
    text-align: left;
}
.yard .card-yard-content a {
    font-size: 17px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 5px 10px;
}
.yard .card-yard-content a:hover {
    background-color: #1f1f6a;
    color: #eeeded !important;
    transition: 0.5s;
}

.yard[data-index="1"] .list-yard {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
}
.yard[data-index="1"] .list-yard h1::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 10%;
    background-color: black;
    width: 20%;
    height: 3px;
}
.yard[data-index="1"] .list-yard h1::after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10%;
    background-color: black;
    width: 20%;
    height: 3px;
}
.yard[data-index="1"] .list-yard .card-yard:nth-child(2),
.yard[data-index="1"] .list-yard .card-yard:nth-child(3) {
    display: flex;
    align-items: center;
}
.yard[data-index="1"] .list-yard .card-yard .card-yard-img {
    overflow: hidden;
}
.yard[data-index="1"] .list-yard .card-yard .card-yard-img:nth-child(2),
.yard[data-index="1"] .list-yard .card-yard .card-yard-img:nth-child(3) {
    width: 50%;
}
.yard[data-index="1"] .list-yard .card-yard:nth-child(1) {
    grid-row: 1/3;
}

/* footer------------------------------------------------------- */
.footer {
    padding: 40px;
    background-color: rgba(39, 38, 38, 0.9058823529);
    color: white;
}

.dinner img {
    width: 100%;
    height: 150px;
    margin: 0 auto;
}

.footer h2 {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.footer p,
.footer a {
    font-size: 17px;
    color: rgb(205, 197, 197);
}

.footer a:hover {
    color: #f76401;
    transition: 0.5s;
}

.dinner .social-media i {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 10px;
    color: #f76401;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.dinner .social-media i:hover {
    background-color: #f76401;
    color: white;
    transition: 0.5s;
}

.dinner .social-media i.hover:hover {
    background-color: #f76401;
    color: white;
    transition: 0.5s;
}

.social-media {
    display: flex;
}

.contact input,
.contact button {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    border-radius: 10px;
}

.contact button {
    background-color: #f76401;
    color: white;
    font-weight: 600;
    margin-top: 10px;
}

.footer span {
    color: #f76401;
    font-weight: 700;
}

/* ---------------------------------booking detail --------------------------------------  */
/* ======================================================================================= */
.slot {
    margin: 20px 0;
}
.slot .slot-list {
    display: flex;
    align-items: center;
}
.slot .slot-list li button {
    color: white;
    background-color: #317c69;
    margin: 5px;
    width: 100%;
    height: 30px;
    border-radius: 5px;
}
.slot .slot-list li button:hover {
    background-color: #000000;
}

.cmt .carousel-item img {
    width: 100px;
    border-radius: 50%;
}

.cmt {
    background-color: #b3ece6;
    padding: 70px;
}
.cmt h4 {
    color: #317c69;
    font-weight: 25px;
    font-weight: 700;
    font-weight: 600;
    font-size: 23px;
}

.cmt-content i {
    font-size: 25px;
    color: darkgreen;
}

.cmt-content h3 {
    font-weight: 800;
    font-style: italic;
    color: #4caf50;
}

.cus-img {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.carousel-item {
    text-align: center;
    margin-bottom: 50px;
}

#circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 9px;
    color: green;
}

#circle.active,
#circle:focus {
    background-color: rgb(20, 165, 20);
}

.additional-options {
    display: flex;
    gap: 10px;
}

/* -----Manager------------ */

img {
    display: block;
    width: 100%;
}

ul li {
    list-style: none;
}

.manager .topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

    height: 60px;
}

.manager .topbar .logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.manager .topbar .logo .logo-img {
    width: 150px;
}
.manager .topbar .logo .nameapp p {
    margin: 0;
    font-weight: 700;
}
.manager .topbar .search {
    position: relative;
    width: 40%;
    height: 30px;
}
.manager .topbar .search i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}
.manager .topbar .search input {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding-left: 20px;
    height: 30px;
}
.manager .topbar .notification .bell-icon {
    position: relative;
}
.manager .topbar .notification .bell-icon i {
    color: rgb(246, 246, 12);
    font-size: 20px;
}
.manager .topbar .notification .bell-icon .number-notification {
    position: absolute;
    top: -10px;
    right: -15px;
}
.manager .topbar .notification .bell-icon .number-notification p {
    color: black;
    font-size: 12px;
    padding: 2px 3px;
    border-radius: 20px;
}
.manager .topbar .user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: center;
}
.manager .topbar .user p {
    margin-bottom: 0;
    margin-left: 30px;
}
.manager .topbar .user img {
    width: 50px;
    border-radius: 50%;
}
.manager .body-manager {
    display: flex;
}
.manager .body-manager .link {
    font-weight: 700;
}
.manager .body-manager .manager-right {
    width: 80%;
    padding: 70px;
}
.manager .body-manager .manager-right .dash-num {
    margin-top: 20px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left {
    width: 50%;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left h3 {
    font-size: 50px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-left p {
    font-size: 12px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item-icon i {
    font-size: 50px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item {
    color: white;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    box-shadow: rgba(0, 0, 0, 0.47) 0px 5px 15px 0px;
}
.manager .body-manager .manager-right .dash-num .dash-num-item:first-child {
    background-color: rgb(231, 38, 38);
}
.manager .body-manager .manager-right .dash-num .dash-num-item:nth-child(2) {
    background-color: green;
}
.manager .body-manager .manager-right .dash-num .dash-num-item:nth-child(3) {
    background-color: rgb(245, 175, 23);
}
.manager .body-manager .manager-right .dash-num .dash-num-item:last-child {
    background-color: #183135;
}
.manager .body-manager .manager-right .char {
    margin: 40px 0;
    background-color: #f5f5f5;
    height: 500px;
}
.manager .body-manager .manager-left {
    padding: 20px 0;
    width: 20%;
    background-color: black;
}
.manager .body-manager .manager-left .manager-left-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-bottom: 40px;
}
.manager .body-manager .manager-left .list-option ul li {
    margin-bottom: 20px;
    background-color: black;
    width: 100%;
    height: 70px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.manager .body-manager .manager-left .list-option ul li:hover {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
    transition: 0.5s;
}

.manager .body-manager .manager-left .list-option ul li:hover span {
    color: #1f1f6a;
}

.manager .body-manager .manager-left .list-option ul li i {
    margin-right: 20px;
    color: #fff;
}

.manager .body-manager .manager-left .list-option ul li:hover i {
    color: #1f1f6a;
}

.manager .body-manager .manager-left .list-option ul li a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    justify-content: left;
    color: white;
    width: 100%;
    text-align: left;
}
.manager .body-manager .manager-left .list-option ul li a .icon {
    margin-right: 10px;
}
.manager .body-manager .manager-left .list-option ul li a span {
    color: white;
}
.manager .body-manager .manager-left .list-option ul li .nav-link.active {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #f5f5f5;
    width: 100%;
    padding: 20px;
}
.manager .body-manager .manager-left .list-option ul li .nav-link.active span i,
.manager .body-manager .manager-left .list-option ul li .nav-link.active span {
    color: black;
}

.manager td i {
    font-size: 25px;
    width: 100%;
    margin: 0 auto;
}
.manager th {
    text-align: center;
}
.manager .icon-detail {
    width: 100%;
    margin: auto;
}
.manager .icon-detail:hover {
    color: orange;
}

.footer-manager p {
    margin: 0;
    font-weight: 600;
}
.login {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    margin: 0 5px;
    justify-content: flex-end;
}

.user {
    display: flex;
    align-items: center;
    width: auto;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: 10px;
    order: 2;
}
.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-name {
    font-weight: 700;
    margin-right: 10px;
    margin-bottom: 0rem;
    display: flex;
    align-items: center;
    order: 2;
}

.logout {
    display: flex;
    align-items: center;
    background-color: #4334aa;
    font-size: inherit;
    margin-left: 10px;
    order: 2;

    border-radius: 10px;
    padding: 10px 0;
    color: white;

    justify-content: center;
}

.manager .topbar .select-branch {
    border-radius: 10px;
    padding: 5px 10px;
    margin-left: 20px;
    background-color: aliceblue;
    color: black;
}
.manager .topbar .select-branch select {
    background-color: aliceblue;
}
.CoSobutton {
    padding: 10px 20px;
    border-radius: 5px;
    width: 140px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.select-month {
    padding: 10px 20px;
    border-radius: 5px;
    width: 130px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-left: 5px;
}

.status {
    display: flex;

    border-radius: 4px;

    padding: 10px 0;
    margin: 10px 0 30px 0;
    width: 60%;
    justify-content: space-between;
}
.status a:hover {
    color: #1f1f6a;
}

.status .nav-link {
    position: relative;
    color: rgb(52, 58, 64);

    font-weight: 700;
    padding: 10px;

    border-radius: 10px;
}

.status .nav-link:hover,
.status .nav-link.active {
    color: blue;
    text-decoration: none;
}

.status .nav-link::before {
    position: absolute;
    content: "";
    width: 0%;
    height: 3px;
    background-color: #4334aa;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.status .nav-link:hover::before {
    width: 100%;
}
.btn-select select {
    word-wrap: normal;
    height: 40px;
    width: 200px;
    background-color: #f5f5f5;
    margin-right: 10px;
    border: 1px solid black;
    padding-left: 5px;
    border-radius: 10px;
}

.logout:hover {
    background-color: green;
    text-decoration: none;
    color: white;
}
.icon {
    margin-right: 15px;
}

#dsYard .location select,
#dsYard .input-group {
    width: 100%;
    height: 40px;
    padding-left: 20px;
}
.input-group {
    position: relative;
}
.input-group-append {
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
}
.input-group-append span {
    height: 100%;
}
#dsYard .location select {
    background-color: rgb(241, 240, 240);
}
.change-yard .nav {
    background-color: #f5f5f5;
}
.footer-Manager {
    background-color: #f6f8fa;
    display: flex;
    align-items: center;
    padding: 30px 10px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 50px;
}
.footer-Manager p {
    margin: 0;
}
.form-group {
    margin-bottom: 20px;
}
thead {
    background-color: #183135;
}
th {
    background-color: rgb(70, 69, 69) !important;
    color: white !important;
}

.topbar,
.footer-Manager {
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    color: black !important;
}
.body-manager {
    background-color: rgb(255, 251, 251);
}
table {
    table-layout: auto;
}

/* login */

.form {
    background-image: url("../../public/asserts/img/4a331c1398d3d7a67ecba739d2e8bb43.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
}

form h1 {
    color: white !important;
}

.form a:hover {
    text-decoration: none;
    color: blue;
}

.header-login-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    background-color: rgba(46, 51, 48, 0.7882352941);
    color: white;
}
.header-login-form .header-login-form-left {
    display: flex;
    align-items: center;
}
.header-login-form .header-login-form-left .logo-header-login {
    width: 20%;
}
.header-login-form .header-login-form-left .name-page p {
    font-size: 22px;
}
.header-login-form .header-login-form-right a {
    color: white;
    font-size: 20px;
}
.header-login-form .header-login-form-right a:hover {
    color: orange;
}

.login-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 70px auto;
    text-align: center;
    color: aliceblue;
    width: 50%;
    background: transparent;
    border: 2px solid rgba(189, 185, 185, 0.378);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    padding: 20px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    display: flex;
    align-items: center;
}
.login-form .login-right {
    width: 50%;
}
.login-form .login-left {
    width: 50%;
}
.login-form .login-left img {
    width: 100%;
    height: 400px;
}

.login-form .input-box {
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.input-box {
    position: relative;
}
.input-box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid aliceblue;
    color: white;
}

.input-box input::placeholder {
    color: aliceblue;
}
.input-box i {
    position: absolute;
    right: 10px;
    top: 30%;
    transform: translateX(-50%);
    font-size: 20px;
}

.remember-forgot {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 17px;
}

.btn {
    width: 100%;
    padding: 20px 0 0;
}
.btn button {
    width: 100%;
    border-radius: 20px;
    height: 40px;
    border: none;
    background-color: #1f1f6a;
    color: #1f1f6a;
    margin: 10px 0;
    color: #f5f5f5;
}
.btn button:hover {
    transition: 0.3s;
    background-color: #227b9e;
}

.register-link {
    margin-top: 15px;
}
